# event-calendar-backend
event-calendar-backend/.idea
event-calendar-backend/.env
event-calendar-backend/.gitattributes
event-calendar-backend/vendor/
event-calendar-backend/README.md
event-calendar-backend/tests/

# event-calendar-frontend
event-calendar-frontend/.idea
event-calendar-frontend/.vscode
event-calendar-frontend/README.md

# Node.js specific
node_modules/
package-lock.json
package.json